@using ReserveParkingSpaceApp.Common
@using ReserveParkingSpaceApp.Controllers
@using ReserveParkingSpaceApp.ViewModels
@model DateShiftVM;

@{
}

<form id="submitForm" data-ajax-url="@Url.Action("DateShift", "Home")"
      data-ajax-update="#parkingSpotsGrid"
      data-ajax="true"
      data-ajax-method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row g-2 mb-3">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="form-floating">
                <select asp-for="SpotShift" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(ShiftTypes))" onchange="updateDateShiftForm()">
                    <option value="selectShift" disabled>Select shift</option>
                </select>
                <label>Shift</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-floating">
                <input asp-for="Date" class="form-control" type="date" onchange="updateDateShiftForm()">
                <label>Date</label>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>  
</form>
