@using ReserveParkingSpaceApp.ViewModels
@model ParkingSpotsGridVM;

@{
}

@for (int i = 1; i <= Model.ParkingSpots.Count; i++)
{
    <div id="col" class="col-lg-3 col-sm-12 mt-3 mb-3 m-auto d-flex justify-content-center" style="max-height:180px">
        <div class="btn-group-vertical h-100" data-toggle="buttons">
            <div id="border-col" class="border h-100 w-100 text-center lh-2">
                <div>First shift:</div>
                <div class="pb-1 border-bottom"> @(Model.ParkingSpots[i-1].ReserverFirstShiftFullName ?? "Empty.")</div>
                <div>Second shift:</div>
                <div class="mb-1">@(Model.ParkingSpots[i-1].ReserverSecondShiftFullName ?? "Empty.")</div>
            </div>
            <button id="btnSave_@i" class="btn @(Model.ParkingSpots[i-1].IsReserved ? "btn-danger" : "btn-success")" onclick="openModal(@i)" style="font-size: 0.95rem">Save parking space @i</button>
            <button id="btnCancel_@i" type="button"  class="btn btn-outline-danger" onclick="cancelReservations(@i)">Cancel Reservation</button>
        </div>
    </div>
}