@using ReserveParkingSpaceApp.Controllers
@using ReserveParkingSpaceApp.ViewModels
@model ParkingReservation;

@{
}

<form id="submitForm" data-ajax-url="@Url.Action("ReserveForm", "Home")"
      data-ajax-update="#modalContainer"
      data-ajax="true"
      data-ajax-method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>

    <p>Reserving Spot @Model.SpotId</p>
    <div class="form-floating">
        <select asp-for="SpotShift" class="form-select" asp-items="@Html.GetEnumSelectList(typeof(ParkingReservation.Shift))">
            <option value=""></option>
        </select>
        <label>Shift</label>
    </div>
    <div class="form-floating">
        <input asp-for="StartDate" class="form-control" type="date">
        <label>Start date</label>
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input asp-for="EndDate" class="form-control" type="date">
        <label>End date</label>
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>
    <div class="form-floating">
        <input id="submitForm" type="submit" class="form-control" name="Save">
    </div>
    @Html.HiddenFor(m => m.SpotId)
</form>
