@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="Popup.css">
</head>
<body>
  <div class="container">
        <div class="row">
            <div class="col-md-3 bg-light text-dark">
                <div class="btn-group-vertical" data-toggle="buttons">
                    <div class="btn-group btn-group-toggle">
                        <label class="btn btn-outline-danger">
                            <input type="radio" data-toggle="modal" data-target="#Popup" name="options" id="1" autocomplete="off">1st shift
                        </label>
                        <label class="btn btn-outline-danger">
                            <input type="radio" name="options" id="2" autocomplete="off">2nd shift
                        </label>
                    </div>
                    <label class="btn btn-outline-danger active">
                        <input type="radio" name="options" id="3" autocomplete="off" style="display:none;" checked> All day
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-modal">
        <div class="modal-content">
            <div class="close">+</div>
            <h5>Name</h5>
            <form action="">
                <div class="dropdown">
                    <button class="dropbtn">Shifts</button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                </div>
                <label>Period</label>
                <input type="date">
                <input type="submit">Save
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
</body>
</html>