.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 999;
}

.modal-content {
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
}


.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;    
}

#parkingSpotsGrid {
    background-color: #333351;
}

.border{
    border-color: #503D58; 
}

#border-col {
    background-color: #8C6B9A;
    color: #FFFFFF;
}



